* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(46, 46, 46);
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #525252;
    color: #000;
    height: 550px;
    width: 500px;
    border-radius: 3%;
    text-align: center;
    padding: 15px 0px;
    transition: 0.5s;
}

.box:hover {
    box-shadow: 10px 10px 30px rgb(27, 27, 27);
}

h1 {
    border: 2px dashed rgb(44, 43, 44);
    width: 220px;
    border-radius: 40%;
    text-align: center;
    margin: 0px auto;
    box-shadow: 0px 5px 5px rgb(45, 44, 45);
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#item {
    text-align: left;
    padding: 10px;
    margin-top: 30px;
    width: 95%;
    color: rgb(32, 32, 32);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}

#item:focus {
    outline: none;
}

#to-do-box {
    text-align: left;
    margin: 10px auto;
    list-style: none;
    width: 95%;
}

#to-do-box li {
    background: rgb(252, 251, 253);
    color: rgb(13, 13, 13);
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin-top: 20px;
    margin-left: 160px;
    user-select: none;
    width: 150px;
    cursor: pointer;
    transition: 0.5s;
}

#to-do-box li:hover {
    color: rgb(53, 53, 53);
}

span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(32, 32, 32);
    border: 1px solid rgb(15, 15, 15);
    padding: 0px 3px;
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
    color: rgb(34, 34, 34);
    background-color: rgb(40, 40, 41) !important;
}